<div>
	{{ range $value := . }}
	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<h1><a href="/edit/{{$value.Id}}">{{ $value.Title }}</a></h1>
		</div>
		<div class="col-xs-2">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
		{{ $value.ContentHtml | unescape}}
		</div>
		<div class="col-xs-2">
		</div>
	</div>
	{{ end }}
</div>