<div class="row">
    <div class="col-xs-4">
    </div>
    {{if .}}
    {{.}}
    {{end}}
    <div class="col-xs-4">
        <form role="form" method="POST" action="/login">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="username" name="username"  />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password"  />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-xs-4">
    </div>
</div>